.type{
    padding: 6px 10px;
}

.type-normal{
    color: #222;
    background-color: #A8A77A;
}
.type-fighting{
    color: #fff;
    background-color: #C22E28;
}
.type-flying{
    color: #222;
    background-color: #A98FF3;
}
.type-poison{
    color: #fff;
    background-color: #A33EA1;
}
.type-ground{
    color: #222;
    background-color: #E2BF65;
}
.type-rock{
    color: #222;
    background-color: #B6A136;
}
.type-bug{
    color: #222;
    background-color: #A6B91A;
}
.type-ghost{
    color: #fff;
    background-color: #735797;
}
.type-steel{
    color: #222;
    background-color: #B7B7CE;
}
.type-fire{
    color: #222;
    background-color: #EE8130;
}
.type-water{
    color: #222;
    background-color: #6390F0;
}
.type-grass{
    color: #222;
    background-color: #7AC74C;
}
.type-electric{
    color: #222;
    background-color: #F7D02C;
}
.type-psychic{
    color: #222;
    background-color: #F95587;
}
.type-ice{
    color: #222;
    background-color: #96D9D6;
}
.type-dragon{
    color: #fff;
    background-color: #6F35FC;
}
.type-dark{
    color: #fff;
    background-color: #705746;
}
.type-fairy{
    color: #222;
    background-color: #D685AD;
}
.type-unknown{
    color: #fff;
    background-color: #222;
}
.type-shadow{
    color: #fff;
    background-color: #111;
}
