<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Pokémons
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- Results grid -->
  <ion-grid *ngIf="pokemons" fixed="false">
    <ion-row>
      <ion-col *ngFor="let pokemon of pokemons; let i = index" size="12" size-sm="6" size-md="4" size-xl="4">
        <ion-card>
          <ion-item>
            <ion-label>No. {{pokemon.id}}</ion-label>
            <ion-label>{{pokemon.name}}</ion-label>

            <ion-buttons slot="end">
              <ion-button (click)="toggleFavorite(i)">
                <ion-icon [name]="'heart'" slot="icon-only"></ion-icon>
              </ion-button>
            </ion-buttons>
          </ion-item>

          <ion-card-content>
            <ion-grid class="ion-no-padding">
              <ion-row class="ion-no-padding">
                <ion-col size="8" class="ion-no-padding ion-padding-end">
                  <ion-text>Description goes here</ion-text>
                </ion-col>
                <ion-col size="4" class="ion-no-padding">
                  <img [src]="pokemon.imageUrl" height="128"/>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
